@import "tailwindcss";

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #111827;
}
*::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 4px;
}